.project {
    background-color: $color-white;
    padding: 0 60px;
    width: 100%;

    #projects-heading {
        display: flex;
        color: $color-black;
        font-size: 80px;
        font-family: "Source Sans Pro", sans-serif;
        text-decoration: none;
        justify-content: left;
        text-align: left;
        padding: 20px;
    }
        
    [class^="row"] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [class^="col"] {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        text-align: center;
        justify-content: center;
        align-items: center;

        .project-titles {
            padding: 10px 10px;
            margin: 0px 0px;
            font-size: 20px;
        }

        .project-image {
            display: flex;
            width: 60%;
            height: 250px;
            border: none;
            justify-content: center;
            align-items: center;
        }
    }

}
