.project {
    background-color: $color-white;
    padding: 0 60px;
    width: 100%;

    @media screen and (max-width: 500px) {
        padding: 0 15px;
        width: 100%;
    }

    #projects-heading {
        display: flex;
        color: $color-black;
        font-size: 80px;
        font-family: "Source Sans Pro", sans-serif;
        text-decoration: none;
        justify-content: left;
        text-align: left;
        padding: 20px;
    }
        
    [class^="row"] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [class^="col"] {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        text-align: center;
        justify-content: center;
        align-items: center;

        .project-image {
            display: flex;
            width: 100%;
            border: none;
            justify-content: center;
            align-items: center;
        }
    }

    .btn {
        border-radius: 10px;
        background-color: $color-primary;
        color: white;
    }

    .project.reverse {
        display: flex;
        flex-direction: row-reverse;

        @media screen and (max-width: 500px) {
            flex-direction: column;
        }
    }

    .project {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 30px 30px;
        border-bottom: 2px solid black;
        padding-bottom: 50px;

        @media screen and (max-width: 500px) {
            flex-direction: column;
        }

        .project-text {
            margin-top: 160px;
            padding-left: 20px;

            @media screen and (max-width: 500px) {
                margin-top: 10px;
                padding-bottom: 50px;
            }
        }

        .project-image {
            display: flex;
            margin-left: 100px;
            width: 50%;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            box-shadow: -20px -20px 0px 0px $color-primary;

            @media screen and (max-width: 500px) {
                margin-left: 0px;
            }
        }
    }
}
